footer {
  margin-top: 40px;
  .bottom {
    text-align: center;
    padding: 10px;
    background-color: var(--color5);
    color: #fff;
    a{
        color: #fff;
        // text-decoration: none;
    }
  }
}
